.header-container{
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 10vh;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}
.header-ul-container{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
    width: inherit;
    text-decoration: none;
}
.user-auth-btn {
    margin-right: 30px;
    justify-content: flex-end;
    
}
.header-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
}